UI menu.c32
PROMPT 0
MENU TITLE @OS_NAME@ @OS_VERSION@ boot menu
TIMEOUT 50
DEFAULT live

LABEL live
  MENU LABEL ^Start @OS_NAME@ (live)
  KERNEL /casper/vmlinuz
  APPEND initrd=/casper/initrd boot=casper quiet splash ---

LABEL live-safe
  MENU LABEL @OS_NAME@ (safe graphics)
  KERNEL /casper/vmlinuz
  APPEND initrd=/casper/initrd boot=casper nomodeset ---

LABEL toram
  MENU LABEL @OS_NAME@ (copy to RAM)
  KERNEL /casper/vmlinuz
  APPEND initrd=/casper/initrd boot=casper toram quiet splash ---

LABEL check
  MENU LABEL Check disc for defects
  KERNEL /casper/vmlinuz
  APPEND initrd=/casper/initrd boot=casper integrity-check quiet splash ---

LABEL hd
  MENU LABEL Boot from first hard disk
  LOCALBOOT 0x80
